.contact {
  background-color: $lightGray;
  padding: 0 16px 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__img {
    padding-top: 76px;
    transform: scaleX(-1);
    width: 469px;
  }

  &__title {
    margin: 45px 0 16px;
    color: $textGray;
    font: 700 32px/48px "Prompt";
  }

  &__text {
    color: $textGray;
    font: 400 14px/20px "Noto Sans";
    margin-bottom: 32px;
    &__wrapper {
      position: relative;
    }
    &__img {
      width: 120px;
      height: 145px;
      position: absolute;
      right: 0;
      top: 10px;
    }
  }

  &__mail {
    color: $violet;
    font: 700 20px/24px "Montserrat";
    text-decoration: none;
  }

  #contact {
    position: relative;
    top: -240px;
  }

  &__prompt {
    display: none;
  }
}

@media all and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-right: 300px;
    padding-bottom: 112px;
    padding-left: 110px;
    &__img {
      width: 495px;
      padding: 0;
      transform: scaleX(-1);
      margin-top: 85px;
    }

    &__title {
      font-size: 48px;
      line-height: 60px;
      margin-top: 80px;
      margin-bottom: 31px;
    }

    &__text {
      margin: 0 0 48px;
      width: 565px;
      font-size: 15px;
      line-height: 24px;
      &__wrapper {
        display: block;
      }
      &__img {
        width: 154px;
        height: 186px;
        top: 50px;
        right: 60px;
      }
    }

    &__mail {
      font-size: 24px;

    }

    #contact {
      top: 0;
    }

    &__prompt {
      display: block;
      width: 863px;
      margin: 0 auto 160px;
      font-family: 'Prompt', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #8008FE;
    }
  }
}